<div id="game">
  <div class="row-fluid">
    <div class="card-area span2 offset5">
      <% if session[:state] > 1 %>
        <span class="score pull-left"><%= total(session[:dealer_cards], true)%></span>
        <% if @winner %>
          <div class="alert alert-error"><h2><%=@dealer%></h2></div>
        <% elsif @loser %>
          <div class="alert alert-success"><h2><%=@dealer%></h2></div>
        <% elsif @tie %>
          <div class="alert alert-success"><h2><%=@tie%></h2></div>
        <% end %>
        <% count = 1 %>
        <% session[:dealer_cards].each_with_index do |card, i| %>
          <ul class="cards pull-left">
            <li>
          <% if session[:state] < 3 && i == 1 %>
            <img src="/images/cards/cover.jpg" class="card">
          <% else %>
            <img src="<%= card_image(card) %>" class="card">
          <% end %>
          <% count += 1 %>
        <% end %>
        <% count.times do %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div id="status" class="span3 offset2">
      <h3>Balance<span id="pot">$<%= session[:player_pot]%></span></h3>
      <h3>Current Bet<span id="bet-amount">$<%= session[:bet_amount]%></span></h3>
      <nav class="pull-left">
        <% if session[:state] == 0 %>
          <form id="new_player_form" action="/new_player" method="post">
            <input type="text" name="player_name" value="Player1"/>
            <input type="submit" value="Play" class="btn btn-large"/>
          </form>
        <% end %>

        <% if session[:state] == 1 %>
          <form id="bet_form" action="/bet" method="post">
            <input type="submit" value="Place Bet" class="btn btn-large btn-inverse"/>
          </form>
          <% if session[:prev_bet] %>
            <form id="rebet_form" action="/rebet" method="post">
              <input type="submit" value="Re-Bet $<%=session[:prev_bet] %>" class="btn btn-large btn-inverse"/>
            </form>
          <% end %>
        <% end %>

        <% if session[:state] == 4 %>
          <a href="/again" id="again" class="btn btn-large btn-inverse">Play Again</a>  
          <a href="/" id="reset" class="btn btn-large btn-inverse">Reset</a>  
        <% end %>

        <% if session[:state] == 2 %> 
          <form id="hit_form" action="/game/player/hit" method='post'>
          <input type="submit" class="btn btn-large btn-inverse" value="Hit" />
          </form>
          <form id="stay_form" action="/game/player/stay" method='post'>
          <input type="submit" class="btn btn-large btn-inverse" value="Stay" />
          </form>
        <% end %>
      </nav>
      <ul id="chips" class="pull-left">
        <li><a href="/bet_amount?bet_add=<%= session[:chip_1]%>"><%= session[:chip_1]%></a></li>
        <li><a href="/bet_amount?bet_add=<%= session[:chip_2]%>"><%= session[:chip_2]%></a></li>
        <li><a href="/bet_amount?bet_add=<%= session[:chip_3]%>"><%= session[:chip_3]%></a></li>
        <li><a href="/bet_amount?bet_add=<%= session[:chip_4]%>"><%= session[:chip_4]%></a></li>
      </ul>
    </div>
    <div class="card-area span2">
      <% if session[:state] > 1 %>
        <span class="score pull-left"><%= total(session[:player_cards])%></span>
        <% if @winner %>
          <div class="alert alert-success"><h2><%=@winner%></h2></div>
        <% elsif @loser %>
          <div class="alert alert-error"><h2><%=@loser%></h2></div>
        <% elsif @blackjack %>
          <div class="alert alert-success"><h2><%=@blackjack%></h2></div>
        <% elsif @tie %>
          <div class="alert alert-success"><h2><%=@tie%></h2></div>
        <% end %>
        <% count = 1 %>
        <% session[:player_cards].each do |card| %>
          <ul class="cards pull-left">
            <li>
              <img src="<%= card_image(card) %>" class="card">
          <% count += 1 %>
        <% end %>
        <% count.times do %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>