<div class="row-fluid card-area">
  <div class="span4 offset1 score">
    <% if session[:state] > 1 %>
    <h3 class="pull-left">Dealer's Total</h3>
    <p class="pull-left"><%= total(session[:dealer_cards])%></p>
    <% end %>
  </div>
  <div class="span7">
    <% if session[:state] > 1 %>
      <% count = 1 %>
      <% session[:dealer_cards].each_with_index do |card, i| %>
        <ul class="cards">
          <li>
        <% if session[:state] < 3 && i == 0 %>
          <img src="/images/cards/cover.jpg" class="card">
        <% else %>
          <img src="<%= card_image(card) %>" class="card">
        <% end %>
        <% count += 1 %>
      <% end %>
      <% count.times do %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row-fluid card-area">
  <div class="span4 offset1 score">
    <% if session[:state] > 1 %>
      <h3 class="pull-left"><%= session[:player_name] %>'s Total</h3>
      <p class="pull-left"><%= total(session[:player_cards])%></p>
    <% end %>
  </div>
  <div class="span7">
    <% if session[:state] > 1 %>
      <% count = 1 %>
      <% session[:player_cards].each do |card| %>
        <ul class="cards">
          <li>
            <img src="<%= card_image(card) %>" class="card">
        <% count += 1 %>
      <% end %>
      <% count.times do %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row-fluid">
  <div class="span3 offset1">
    <a href="#">
      <ul class="chips">
        <li><img src="/images/pokerchip1.png" alt="poker chip">
          <ul>
            <li><img src="/images/pokerchip1.png" alt="poker chip">
              <ul>
                <li><img src="/images/pokerchip1.png" alt="poker chip"></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </a>    
  </div>
  <nav class="span8">
    <% if session[:state] == 0 %>
      <form action="/new_player" method="post">
        Name: <input type="text" name="player_name" value="Player1"/><br/>
        <input type="submit" value="Play" class="btn btn-large"/>
      </form>
    <% end %>

    <% if session[:state] == 1 %>
      <form action="/bet" method="post">
        <input type="text" name="bet_amount" placeholder="New Bet" class="input-mini"/>
        <input type="submit" value="Bet" class="btn btn-large btn-inverse"/>
      </form>
      <form action="/re-bet" method="post">
        <input type="submit" value="Re-Bet $<%=session[:prev_bet] %>" class="btn btn-large btn-inverse"/>
      </form>
    <% end %>

    <% if session[:state] == 4 %>
      <a href="/again" class="btn btn-large btn-inverse">Play Again</a>  
      <a href="/" class="btn btn-large btn-inverse">Reset</a>  
    <% end %>

    <% if session[:state] == 2 %> 
      <form id="hit_form" action="/game/player/hit" method='post'>
      <input type="submit" class="btn btn-large btn-inverse" value="Hit" />
      </form>
      <form id="stay_form" action="/game/player/stay" method='post'>
      <input type="submit" class="btn btn-large btn-inverse" value="Stay" />
      </form>
    <% end %>
  </nav>
</div>