<div class="row-fluid">
  <div class="card-area span7 offset5">
    <% if session[:state] > 1 %>
      <p class="score pull-left"><%= total(session[:dealer_cards])%></p>
      <% if @winner %>
        <div class="alert alert-error"><h2><%=@dealer%></h2></div>
      <% elsif @loser %>
        <div class="alert alert-success"><h2><%=@dealer%></h2></div>
      <% end %>
      <% count = 1 %>
      <% session[:dealer_cards].each_with_index do |card, i| %>
        <ul class="cards pull-left">
          <li>
        <% if session[:state] < 3 && i == 0 %>
          <img src="/images/cards/cover.jpg" class="card">
        <% else %>
          <img src="<%= card_image(card) %>" class="card">
        <% end %>
        <% count += 1 %>
      <% end %>
      <% count.times do %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row-fluid">
  <div class="card-area span7 offset5">
    <% if session[:state] > 1 %>
      <p class="score pull-left"><%= total(session[:player_cards])%></p>
      <% if @winner %>
        <div class="alert alert-success"><h2><%=@winner%></h2></div>
      <% elsif @loser %>
        <div class="alert alert-error"><h2><%=@loser%></h2></div>
      <% end %>
      <% if @blackjack %>
      <div class="alert alert-success"><h1><%=@blackjack%></h1></div>
      <% end %>
      <% count = 1 %>
      <% session[:player_cards].each do |card| %>
        <ul class="cards pull-left">
          <li>
            <img src="<%= card_image(card) %>" class="card">
        <% count += 1 %>
      <% end %>
      <% count.times do %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row-fluid">
  <div id="bet-area"></div>
</div>