<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack Game</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/application.css">
    <!-- HTML5 shim for IE backwards compatibility -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!--[if !IE 7]>
        <style type="text/css">
          #wrap {display:table;height:100%}
        </style>
      <![endif]-->
  </head>
  <body>
  <div id="wrap">
    <div id="main" class="container-fluid">
      <header class="row-fluid">
        <div class="span9 offset3">
          <a href="/" id="logo" class="pull-left texthide">Ace</a>
          <h1 id="main-title" class="pull-left">Blackjack</h1>
        </div>
      </header>
      <div id="blackjack" class="absolute row-fluid">
        <div class="span12">
          <h2 id="table-text" class="text-center">Pays 3-2</h2>
        </div>
      </div>
      <div id="stand" class="absolute row-fluid">
        <div class="span12">
          <h2 class="arc-text text-center">Dealer must stand on 17</h2>
        </div>
      </div>
      <div id="insurance" class="absolute row-fluid">
        <div class="span12">
          <h2 class="arc-text text-center">Pays 2-1  Insurance Pays  2-1</h2>
        </div>
      </div>
      <%= yield %>
    </div>
  </div>
  <footer id="footer" class="row-fluid">
    <div class="span4 offset4">
      <ul id="chips" class="pull-left">
        <li><a href="/bet_amount?bet_add=<%= session[:chip_1]%>"><%= session[:chip_1]%></a></li>
        <li><a href="/bet_amount?bet_add=<%= session[:chip_2]%>"><%= session[:chip_2]%></a></li>
        <li><a href="/bet_amount?bet_add=<%= session[:chip_3]%>"><%= session[:chip_3]%></a></li>
        <li><a href="/bet_amount?bet_add=<%= session[:chip_4]%>"><%= session[:chip_4]%></a></li>
      </ul>
    </div>
  </footer>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/jquery.arctext.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/application.js"></script>
  </body>
</html>
